body {
	position: relative;
	min-height: 100vh;
    background-color: #f5f5f5;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-size:14px;
    font-family:Microsoft YaHei;
    color:#000;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
table{
    width: 94%!important;
}

a:hover,
a:focus {
    text-decoration: none;
}

.row {
    margin-right: -5px;
    margin-left: -5px;
}
/*.container>.row:last-child{
	margin-bottom: 35px;
}*/
.list-tabs-context{
	min-height: 306px;
	background-color: #fff;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    padding-right: 5px;
    padding-left: 5px;
}


/* é¡¶éƒ¨å¯¼èˆª */

/*.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 199;
}*/

.content .container {
	position: relative;
    width: 1240px;
    padding-bottom: 44px;
}

/*.content {
    margin-top: 145px;
}*/

.header .header-title-background {
	min-width: 1240px;
    background-color: #fff;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.header .header-title {
    margin: 10px 0;
}

.header-container{
   height:100px;
}

.header .header-title a {
    color: #0b6ba8;
}

.header .header-title a:hover,
.header .header-title a:focus {
    text-decoration: none;
}

.padding-left-0{
  padding-left:0px;
}

.input-group{
	display: flex;
}

.input-group-addon button{
	margin-top: 0!important;
}
/*@font-face {
    font-family: pictos;
    src: url('../fonts/4085_æ–¹æ­£å¤§é»‘_GBK_1.TTF');
}*/

.header .header-title {
    position: relative;
}

.header .header-title .logo {
    position: absolute;
}

.header .header-title h1 {
    margin-left: 70px;
    text-align: left;
}

.header .header-title h1 a {
    /*font-family: pictos;*/
    font-size: 30px;
    margin: 0;
    color: #0b6ba8;
}


.header .header-title h1 a .logotext {
    height:35px;
    margin-left:20px;
    background-image:url('../image/logotext.png');
    background-repeat:no-repeat;
}

.header .header-title h1 .img {
    background-image:url('../image/26626.png');
    background-repeat:no-repeat;
    height:40px;
    margin-left:40px;
    background-position:left center;
}

.header .header-search {
    margin-right: 10px;
    margin-top: 30px;
    text-align: right;
}

.header .header-search form .input-group-addon {
    background-color: #0b6ba8;
}

.header .header-search form .form-control {
    height: 30px;
}

.header .header-search .header-search-right {
    margin-top: 10px;
}

.header .header-search .header-search-right a,
.header .header-search .header-search-right span {
    display: inline-block;
    color: #0b6ba8;
    vertical-align: top;
}

.header-search-img{
    height:17px;
}

.header .header-search .header-search-right span {
    margin: 0 22px;
    position: relative;
    top:-1px;
}

.header .header-search .header-search-right a:hover,
.header .header-search .header-search-right a:focus {
    text-decoration: none;
}

.header .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    float:left;
    width: 100%;
    position: relative;
    top: -5px;
}
.navbar-nav>li {
    height: 36px;
}

.header .navbar-default {
    background-color: #0b6ba8;
}

.header .navbar-default .navbar-nav>li>a {
    padding:8px 10px;
    font-size:15px;
    color: #fff;
    z-index: 99;
}
.header .navbar-default #menu>li>a {
    padding: 8px 44px;
}
.header .navbar-default .navbar-nav>li>#login_href {
    text-decoration: underline;
}

.header .navbar-default .navbar-nav>li>a:hover {
    /*border-bottom: 4px solid #a0c5ef;*/
    /*padding-bottom: 11px;*/
}

.header .navbar-default .navbar-nav>.active{ position: relative; }

.header .navbar-default .navbar-nav>.active>a,
.header .navbar-default .navbar-nav>.active>a:hover,
.header .navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: #fff;
    /*border-bottom: 4px solid #a0c5ef;*/
    /*padding-bottom: 11px;*/
}

.header .navbar-default .navbar-nav>li>.border{
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4px;
	background-color: #a0c5ef;
}
/* åº•éƒ¨ */
.footer{
    position: absolute;
	bottom: 0;
    min-width: 1240px;
    height: 38px;
    background: #0b6ba8;
    text-align: center;
    color: #fff;
}
.footer1 {
	margin-top:-37px;
    min-width: 1240px;
    min-height: 38px;
    background: #0b6ba8;
    text-align: center;
    color: #fff;
}
.footer-text-img .img-item p {
    margin: 0;
}

.footer-text{
	width: 1210px;
	padding: 20px 0;
	margin: auto;
	border-bottom: 1px solid #3392cf;
}

.footer-text-content{
	width: 759px;
	margin: auto;
}

.flex{
	display: flex;
}

.footer-text-text{
	width: 317px;
	margin-right: 52px;
	flex-direction: column;
    justify-content: center;
}

.footer-text-text p{
	margin: 0;
	line-height: 2;
	text-align: left;
}

.footer-text-img{
	width: 390px;
	justify-content: space-between;
}

.footer-text-img .img-item img{
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}

.footer>p {
    margin-bottom: 0;
    line-height: 38px;
}

.footer p span {
    display: inline-block;
    margin: 0 20px;
}
.footer1>p {
    margin-bottom: 0;
    line-height: 38px;
}

.footer1 p span {
    display: inline-block;
    margin: 0 20px;
}


/* é¦–é¡µå†…å®¹ */

.row-1-left{
  width:60%
}

.row-1-right{
   width:40%
}

.home-banner img {
    width:auto;
    height:auto;
    max-width: 100%;
    max-height: 100%;
}
.home-list-inform .home-list-container{
	padding: 2px;
}
.home-list-container {
    background-color: #fff;
    margin: 0;
    padding: 0 15px;
}
.col-md-3 .home-list-container,
.col-md-9 .page-list-container{
	min-height: 928px;
}
.home-list-martop {
	height: 353px;
    margin-top: 10px;
}

.home-list-martop:before,
.home-list-martop:after {
    display: table;
    content: " ";
}

.home-list-martop:after {
    clear: both;
}

.home-list-martop-yw{ height: 425px; } 
.home-list-container>.home-list-content {
	height: 349px;
    padding: 0 10px;
    border: 1px solid #eee;
    border-radius: 3px;
}
.home-list-container>.home-list-content .home-list>ul>li:last-child {
    border-bottom: 0;
}
.home-list-nav {
    height: 43px;
    margin: 0 -10px;
    padding-top: 4px;
    background-color: #fff;
    position: relative;
    font-size:16px;
}

.home-list-nav .more {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px;
    color: #888;
    font-size: 14px;
}

.home-list-nav ul {
    margin: 0 10px;
    border: none;
    height: 39px;
	border-bottom: 2px solid #0b6ba8;
    background-color: #fff;
}

.home-list-nav ul li a {
    border: none !important;
    border-radius: 0;
    color: #333;
    margin-right: 0;
    height: 37px;
    line-height: 1;
}

.home-list-nav ul li.active a {
    color: #fff;
}

.home-list-nav ul li a span,
.home-list-nav ul li a img {
    vertical-align: middle;
}

.home-list-nav .nav>li>a:hover,
.home-list-nav .nav>li>a:focus {
    background-color: #0b6ba8; 
    /*background-color: #fff;*/
    color: #fff;
}

.home-list-nav .nav>li.active>a:hover,
.home-list-nav .nav>li.active>a:focus {
    background-color: #0b6ba8;
}

.home-list-title {
    position: relative;
}

.home-list-container>.home-list-content .home-list-title h4 {
    padding: 9px 10px;
}

.home-list-title h4 {
    border-bottom: 2px solid #0b6ba8;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.home-list-title .list-title-h4{
   padding: 9px 0px;
}

.home-list-title h4 a {
    color: #333;
}

.home-list-title .more {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px 0;
    color: #888;
}

.home-list-title h4 img,
.home-list-title h4 span {
    vertical-align: middle;
}

.home-list-title h4 img {
    position: relative;
    top: -1px;
}

.home-list>ul>li {
    position: relative;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

.news-list ul li:last-child {
    border-bottom: 1;
}

.home-list-time {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 12px;
}

.home-list-text a {
    color: #333;
}

.home-list-text a:hover {
    color: #0b6ba8;
}

.home-list>ul>li .dot {
    position: absolute;
    top: 14px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #0b6ba8;
}

/* å¯¼èˆª */

.breadcrumb-box .breadcrumb {
    padding-left: 0;
    margin-bottom: 0;
}

/* åˆ—è¡¨ */

.page-list-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-list {
    margin-bottom: 20px;
}

.page-list-text {
    padding-left: 20px;
}

.page-list-text a {
    color: #0b6ba8;
}

.page-list-menu a {
    color: #939393;
}

.page-list-menu a.active {
    color: #0b6ba8;
}

.page-list-right {
    position: absolute;
    top: 10px;
    right: 120px;
    color: #aaa;
    font-size: 12px;
}

.page-list-new {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 24px solid #0b6ba8;
    border-right: 24px solid transparent;
}

.page-list-new .new-text {
    position: absolute;
    top: -24px;
    left: 2px;
    font-size: 12px;
    color: #fff;
}

.navigation-outer {
    padding-top:15px;
    text-align: right;
    position: relative;
    color: #939393;
}

.navigation-left {
    float:left;
    height: 34px;
    line-height: 34px;
}

.navigation-outer .pagination,
.navigation-outer .list-total {
    vertical-align: middle;
    float:right;
}

.navigation-outer .pagination {
    margin: 0;
    float:right;
}

.navigation-outer .pagination>li:first-child>a,
.navigation-outer .pagination>li:last-child>a {
    border-radius: 0;
}

.navigation-outer .pagination>li>a {
    background-color: rgba(0, 0, 0, 0);
    margin-right: 5px;
    margin-top:5px;
    color: #939393;
    border-color: #939393;
}

.navigation-outer .pagination>li>a.active {
    color: #fff;
    border-color: #0b6ba8;
    background-color: #0b6ba8;
}

.navigation-outer .pagination>li>a.active-btn {
    border-color: #0b6ba8;
    color: #0b6ba8;
}

.navigation-outer .list-total {
   height:34px;
   line-height:34px;
}

.navigation-outer .list-total input {
    width: 40px;
    padding: 4px;
    margin-right: 5px;
}

.navigation-outer .list-total button {
    border: 1px solid #0b6ba8;
    background-color: #fff;
    color: #0b6ba8;
    padding: 7px 8px;
}

.navigation-outer .list-total span {
    margin-right: 5px;
}

/* æ–‡ç«  */

.page-list-article .article-background {
    background-color: #fff;
    padding: 40px;
}

.page-list-article .title {
    margin: 0 0 30px 0;
    line-height: 40px;
}

.page-list-article .subtitle {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
}

.page-list-article .subtitle .color {
    color: #888;
}

.page-list-article .subtitle .printer{
	width: 22px;
	height: 22px;
}

.page-list-article .subtitle .mar-right {
    margin-right: 30px;
}

.page-list-article p {
    text-indent: 2em;
}


.page-list-article .article-enclosure {
    position: relative;
    border-bottom: 1px solid #d3d3d3;
    padding-left: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.article-enclosure > ul > li{
    padding-bottom:10px;
}

.page-list-article .article-enclosure span {
    position: absolute;
    top: 0;
    left: 0;
}

.page-list-article .article-pagination {
    margin-bottom: 20px;
}

.page-list-article .article-pagination>div {
    float: left;
    width: 50%;
}

.page-list-article .feedback .table {
    margin-bottom: 0;
}

.page-list-article .feedback .table>thead>tr>th {
    background-color: #f4f4f4;
    font-weight: normal;
    border-bottom-width: 1px;
}

.page-list-article .feedback .table .img img {
    width: 16px;
}

.page-list-article .feedback button {
    border-radius: 0;
    margin-bottom: 20px;
}

.page-list-article .feedback button:hover,
.page-list-article .feedback button:active,
.page-list-article .feedback button:focus {
    background-color: #0b6ba8;
    border-color: #0b6ba8;
    color: #fff;
}

/* é€šè®¯å½• */

.txl-list-img {
    position: absolute;
    right: 0;
    top: 10px;
}

.txl-container {
    padding: 15px;
}

.txl-container .title {
    margin: 0;
}

.txl-container .search {
    padding: 15px 0;
}

.txl-container .search .form-group {
    margin-right:0px;
}

.txl-container .search .form-control {
    width: 140px;
    border-radius: 0;
}

.txl-container .search label {
    font-weight: normal;
}

.txl-container .search .search-right {
    float: right;
}

.txl-container .search .search-right span {
    color: #939393;
}

.txl-container .search .search-right button {
    border-color: #0b6ba8;
    background-color: #0b6ba8;
    border-radius: 0;
}

.txl-container .table {
    margin-bottom: 0;
}

.txl-container .table>thead>tr>th {
    background-color: #f4f4f4;
    font-weight:bold;
    border-bottom-width: 1px;
    text-align:center;
}

.txl-container .table>tbody>tr:nth-child(even){
    background-color: #f9f9f9;
}

.txl-mobile {
    position: relative;
}

.txl-mobile img {
    position: absolute;
}

.txl-mobile div {
    padding-left: 20px;
}

.menu-outer ul li {
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    /* padding-left: 10px; */
    margin-left: 10px;
}

.menu-outer ul li a {
    display: block;
    padding: 10px;
}

/* .menu-outer ul li {
    display: block;
    padding: 10px;
}  */

/*  a.active {
    background-color: rgb(204,204,204);
	color:white;
} */


.menu-outer ul li a.active {
    color: #fff;
}

.menu-list ul li:last-child ,
.menu-outer ul li ul li:last-child{
    border-bottom: none;
}

.menu-outer .title img {
    position: absolute;
    right: 0;
    top: 10px; 
}

.inline-right{
    display:inline-block;
    text-align:right;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
   color:white;
   background-color:rgba(0,0,0,0);
}

.dropdown-menu{
   background-color:rgba(255,255,255,0.8);
}

.dropdown-menu > li{
   height:30px;
}

.dropdown-menu > li > a{
   line-height:30px;
   height:35px;
}

@media screen and (max-width:400px){
  .header {
     position:static
   }
  .header .header-title h1 a {
    font-size:20px;
   }
  .header .header-title h1 .img{
     margin-left:0px;
     background-size:contain;
   }
   .content{
     margin-top:0px;
   }
   .container{
     width:auto
   }
   .header-container{
     height:auto;
    }
   .row-1-left{
      width:100%
    }

  .row-1-right{
     width:100%
  }
}
.range_inputs .btn-success{
	background-color: #357ebd;
    border-color: #3071a9;
}
.ui-dialog{
	padding: 0!important;
}
.ui-widget-header{
	border: 1px solid #0b6ba8!important;
    background: #0b6ba8!important;
    color: #fff!important;
}
.ui-dialog-buttonset button {
    background: #0b6ba8;
    border: 1px solid #0b6ba8;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}
.ui-dialog-buttonset button:last-child{
	background: #fff;
    color: #0b6ba8;
    border: 1px solid #0b6ba8;
}
.ui-dialog .ui-dialog-content{
    padding: .5em 1.4em!important;
}
.ui-dialog .ui-dialog-content table,
.ui-widget input {
	width: 100%!important;
}
.dropdown-menu > li > a:hover{
	background-color: rgba(47, 102, 152,0.8);
	color: #fff;
}
.pagination > li > a{
	padding: 4px 12px!important;
}
.banner div.sp_container_combo{
	width: 190px!important;
}

table p {
    text-indent: 0em !important;
}

