﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="ie-comp">
    <title>@ViewBag.Title</title>

    <style type="text/css">
        body {
            background-color: #f5f5f5;
            background-position: bottom center;
            /*background-image: url('../images/background.png');*/
            background-repeat: no-repeat;
            background-size: 100% auto;
            font-family: 'Microsoft YaHei';
        }

        a:focus {
            outline: none;
        }

        a:hover,
        a:focus {
            text-decoration: none;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .btn.active.focus,
        .btn.active:focus,
        .btn.focus,
        .btn:active.focus,
        .btn:active:focus,
        .btn:focus {
            outline: none;
        }





        .content-mobile {
            background-color: #fff;
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 15px 10px 10px;
        }

        .content-mobile-title {
            margin: 0;
            font-size: 24px;
            font-weight: bold;
            padding-bottom: 10px;
            text-align: center;
        }

        .content-mobile .content-mobile-subtitle {
            padding-bottom: 10px;
            text-align: center;
        }

        .content-mobile .content-mobile-subtitle {
            line-height: 160%;
        }

            .content-mobile .content-mobile-subtitle .color {
                color: #aaa;
                margin-right: 8px;
            }

        .content-mobile > p {
            /* text-indent: 2em; */
            padding: 0 !important;
            line-height: 160% !important;
        }

            .content-mobile > p > span {
                font-size: 20px !important;
            }

            .content-mobile > p img {
                width: 100%;
                margin-bottom: 10px;
                margin-left: -2em;
            }

        .content-mobile .paging {
            margin-bottom: 10px;
        }

            .content-mobile .paging a {
                color: #333;
            }

        .content-mobile .attachment {
            position: relative;
            /* border-bottom: 1px solid #888; */
            /* padding-bottom: 20px; */
            margin-top: 20px;
            margin-bottom: 20px;
            line-height: 160%;
        }

            .content-mobile .attachment > div {
                margin-bottom: 10px;
            }

            .content-mobile .attachment > ul > li .download {
                color: green;
                font-weight: bold;
            }

        .content-mobile .feedback .btn {
            border-radius: 0;
            background-color: #fff;
            color: #2f6698;
        }

        .content-mobile .feedback .feedback-content > ul > li {
            position: relative;
            padding-top: 10px;
            border-bottom: 1px solid #e0e0e0;
        }

            .content-mobile .feedback .feedback-content > ul > li .index {
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: #2f6698;
                color: #fff;
                text-align: center;
                line-height: 20px;
            }

            .content-mobile .feedback .feedback-content > ul > li .information {
                padding: 0 0 10px 30px;
                line-height: 160%;
            }

                .content-mobile .feedback .feedback-content > ul > li .information .text {
                    color: #aaa;
                }

            .content-mobile .feedback .feedback-content > ul > li .delete {
                position: absolute;
                right: 0;
                top: 10px;
                width: 20px;
                height: 20px;
            }

                .content-mobile .feedback .feedback-content > ul > li .delete img {
                    width: 100%;
                }

        .channel-list .list-count {
            text-align: right;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
            margin-bottom: 0;
            border-bottom: 1px solid #e0e0e0;
        }

        #feedback_table .none {
            border: none;
            padding: 10px;
        }

        .ui-widget.ui-widget-content {
            z-index: 99999 !important;
        }

            .ui-widget.ui-widget-content img {
                width: 100%;
            }

        .article-enclosure {
            position: relative;
            border-bottom: 1px solid #d3d3d3;
            padding-left: 50px;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    </style>
    <script src="~/Scripts/jquery.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui.js" type="text/javascript"></script>
</head>
<body>

@RenderBody()

</body>

</html>
