﻿model XinWuNews.Models.Contact.ContactModel

<table class="table table-bordered">
    <thead>
        <tr>
            <th>用户名</th>
            <th width="140">所在部门</th>
            <th>办公室电话</th>
            <th>分机</th>
            <th width="140">移动电话</th>
            <th>Email地址</th>
        </tr>
    </thead>
    <tbody id="empls">
        @foreach (var item in Model.ContactInfos)
        {
        <tr>
            <td id="@item.Emplid">@item.EmplName</td>
            <td id="@item.Deptid">@item.Deptname</td>
            <td>@item.Tel<br></td>
            <td>@item.Fjh<br></td>
            @if (string.IsNullOrEmpty(item.Mobile))
            {
                <td></td>
            }
            else
            {
                <td class="txl-mobile">
                    <img style="cursor: pointer;" src="~/Content/image/icon_contacts.png" onclick="sendMessage(&#39;@item.Mobile;&#39;)">
                    <div>@item.Mobile<br></div>
                </td>
            }

            <td>@item.Email<br></td>
        </tr>
        }
     </tbody>
</table>
